.shopify-section.container--vertical-space.container--remove-margin-before.inert-inside {
    display: flex;
    flex-wrap: wrap;
}

.shopify-section.container--vertical-space.container--remove-margin-before.inert-inside>.container--large {
    width: 20%;
    max-width: 230px;
    margin-left: 0;
}

.shopify-section.container--vertical-space.container--remove-margin-before.inert-inside div#CollectionProductGrid {
    width: 80%;
    max-width: 988px;
    padding-left: 5%;
}


facet-filters-form.facets.portable-hide form#FacetFiltersForm {
    flex-direction: column-reverse;
    gap: 30px 0;
}


form#FacetFiltersForm .facets__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

details.disclosure-has-popup.facets__disclosure.js-filter {
    width: 100%;
    margin: 0 0 26px 0;
    position: relative;
}

form#FacetFiltersForm .facets__prewrapper {
    max-width: 100%;
}


form#FacetFiltersForm summary.facets__summary {
    border: none;
    padding: 0;
    padding: 21px 0;
    border-top: 1px solid #F1F1F1;
}

details.disclosure-has-popup.facets__disclosure.js-filter[open] summary.facets__summary {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E %3Cpath d='M6 12H18M12 6V18' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E %3C/g%3E%3C/svg%3E");
    background-size: 20px 20px;
    background-position: calc(100% - 1.5rem) center;
}

form#FacetFiltersForm .facets__display.body-text-sm {
    position: relative;
    max-width: 100%;
    width: 100%;
    border: none;
    box-shadow: none;
    top: 0;
    min-width: auto;
    display: block;
}


.facets__summary,
#main select,
.sidebar select {
    background-image: url('https://cdn.shopify.com/s/files/1/0559/8553/7202/files/minus_4980c919-a87a-48ed-80c9-f8cfa314ac24.png?v=1708914658')
}

div#main-collection-product-grid {
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
}

div#main-collection-product-grid>div {
    min-width: auto;
    width: calc(33.33% - 17px);
    max-width: 100%;
}

main#main {
    max-width: 1285px;
    margin: 0 auto;
    padding: 100px 0;
}

.container--large.container--vertical-space-small {
    margin-top: 0;
}

.section-heading__text.remove-empty-space {
    padding: 0;
}

.section-heading.gutter-bottom--page {
    justify-content: center;
    margin-bottom: 0;
}

.section-heading__text.remove-empty-space h1 {
    color: #2B2929;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px;
    /* 135.714% */
    margin-bottom: 100px;
}

main#main .container--large {
    padding: 0;
}

select#desktop-SortBy {
    padding: 17px 18px;
    border-radius: 5px;
    border: 1px solid rgba(43, 41, 41, 0.30);
    background: var(--Dark, #2B2929);
    color: #FFF;
    font-family: 'DIN Next W1G', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    /* 168.75% */
    width: 100%;
}

facet-filters-form.facets.portable-hide {
    /* position: -webkit-sticky;
    position: sticky;
    top: 100px;
    z-index: 1020; */
}

.section-heading.section-heading--facets.gutter-bottom--page {
    justify-content: start;
}

p#CollectionProductCount {
    color: #2B2929;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

span.text-animation--underline.text-size--large.text-line-height--small.text-weight--bold.text-animation--underline {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    margin-bottom: 12px;
    height: 71px;
}

.shopify-section.container--vertical-space.container--remove-margin-before.inert-inside {
    padding: 0;
}

html[dir=ltr] .breadcrumb-main {
    position: relative;
}

.breadcrumb-container {
    padding: 0;
}


nav.breadcrumb span,nav.breadcrumb span a {
    color: #2B2929;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.4px;
    text-decoration: none;
}



.breadcrumb-main::after,.breadcrumb-main::after,.breadcrumb-main:before{
    display: none;
}

.breadcrumb{
    margin-bottom: 0;
}

.pagination{
    justify-content: center;
}

@media (max-width:1400px) {
    main#main {
        padding: 100px 30px;
    }
}

@media (max-width:1200px) {
    div#main-collection-product-grid>div {
        width: calc(50% - 12.5px);
    }

    main#main {
        padding: 70px 30px;
    }
}

@media (max-width:1023px) {
    .shopify-section.container--vertical-space.container--remove-margin-before.inert-inside div#CollectionProductGrid {
        width: 100%;
        padding-left: 0;
    }

    .shopify-section.container--vertical-space.container--remove-margin-before.inert-inside>.container--large {
        width: 100%;
    }

    button#collection-filters-handle {
        padding: 17px 18px 17px 50px;
        border-radius: 5px;
        border: 1px solid rgba(43, 41, 41, 0.30);
        background: var(--Dark, #2B2929);
        color: #FFF;
        font-family: 'DIN Next W1G', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        /* 168.75% */
    }

    button#collection-filters-handle path {
        stroke: white;
    }

    .section-heading.section-heading--facets.gutter-bottom--page {
        margin-bottom: 50px;
        justify-content: space-between;
        gap: 0 20px;
        align-items: center;
    }
    .header h1{
        margin-bottom: 40px;
    }
}

@media (max-width:767px) {
    main#main {
        padding: 50px 20px;
    }

    .section-heading__text.remove-empty-space h1 {
        margin-bottom: 0px;
    }
    .shopify-section.container--vertical-space.container--remove-margin-before.inert-inside>.container--large{
        max-width: 100%;
    }
    .section-heading.section-heading--facets.gutter-bottom--page{
        flex-direction: column-reverse;
        gap: 50px 0;
        margin-bottom: 30px;
    }
    main#main .section-heading{
        margin-bottom: 10px;
    }
}