.breadcrumb-main{
    display: none;
  }
  .card .button{
    width: 100%;
    max-width: 100%;
  }
  div#CollectionProductGrid .container--large{
    padding: 0 !important;
  }
  .container--vertical-space .container--large{
    padding: 0;
  }
  .container--vertical-space-small{
    padding: 100px 5% 0 5%;
  }
  
section.banner .bg{
    background: url('https://cdn.shopify.com/s/files/1/0559/8553/7202/files/Affordable_and_Premium_Tequila_in_the_Philippines.jpg?v=1702973160')no-repeat center center/cover;
    padding: 119px 30px;
    border-radius: 15px;
    max-width: calc(100% - 24px);
    margin: 0 auto 127px auto;
}
section.banner .content{
    max-width: 860px;
    margin: 0 auto;
}
section.banner .bg h1,
section.banner .bg p{
    color: #FFFFFF;
    text-align: center;
}
section.banner .bg .p_content{
    max-width: 801px;
    margin: 0 auto 16px auto;
}
section.banner h1{
    margin-bottom: 30px;
}
section.banner .img{
    max-width: 732px;
}
section.banner .left_content{
    max-width: 576px;
    padding-left: 5%;
}
section.banner .row:first-child{
    align-items: center;
}
section.banner h2{
    margin-bottom: 20px;
}
section.banner .left_content img{
    margin-bottom: 30px;
}












section.the_best_tequila{
    background: url('https://cdn.shopify.com/s/files/1/0559/8553/7202/files/Best_Gift_Sets_to_Grab_from_Flasked.jpg?v=1702961101')no-repeat center center/cover;
}
section.the_best_tequila .header .content_header{
    max-width: 803px;
    margin: 0 auto 0 auto;
}
section.the_best_tequila .col-lg-6:nth-child(even)>div{
    max-width: 576px;
}
section.the_best_tequila .col-lg-6:nth-child(odd)>div{
    max-width: 600px;
    padding-left: 5%;
}
section.the_best_tequila .row{
    gap: 48px 0;
    align-items: center;
}
section.the_best_tequila a{
    color: var(--Yellow, #EBB035);
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}
section.the_best_tequila .content{
    position: relative;
    top: 50px;
}
section.the_best_tequila h3{
    margin-bottom:  20px;
}





section.easy_tequila .header_content{
    max-width: 803px;
    margin: 0 auto calc(60px - 30px) auto;
}
section.easy_tequila .header_content h2,
section.easy_tequila .header_content p{
    text-align: center;
}
section.easy_tequila .row{
    gap: 30px 0;
}
section.easy_tequila .content{
    border-radius: 15px;
    background-color: #F4F4F4;
    overflow: hidden;
    height: 100%;
}
section.easy_tequila .inner_content{
    padding: 28px 38px;
}
section.easy_tequila h3{
    margin-bottom: 20px;
}




section.why_you_should_but .content{
    padding: 45px;
    border-radius: 15px;
    border: 1.5px solid #2B2929;
    height: 100%;
}
section.why_you_should_but .content img{
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
    margin-bottom: 15px;
}
section.why_you_should_but h3,
section.why_you_should_but h2{
    margin-bottom: 20px;
}
section.why_you_should_but .row:first-child{
    margin-bottom: 50px;
    align-items: center;
}
section.why_you_should_but .left_content{
    padding-left: 5%;
}
section.why_you_should_but .left_content img{
    margin-bottom: 30px;
}
section.why_you_should_but .row:last-child{
    gap: 24px 0;
}
section.why_you_should_but{
    background-color: #F4F4F4;
}










section.get_tequila_in_the_philippine .bg{
    background: url('https://cdn.shopify.com/s/files/1/0559/8553/7202/files/Get_Tequila_in_the_Philippines_from_Flasked_Today.jpg?v=1702973160')no-repeat center center/cover;
    padding: 100px 30px;
    border-radius: 15px;
}
section.get_tequila_in_the_philippine h2,
section.get_tequila_in_the_philippine p{
    text-align: center;
    color: white;
}
section.get_tequila_in_the_philippine h2{
    margin-bottom: 20px;
}
section.get_tequila_in_the_philippine .content{
    max-width: 770px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    section.banner .bg{
        padding: 70px 30px;
        margin-bottom: 70px;
    }
    section.banner .row:first-child{
        margin-bottom: 70px;
    }
}

@media (max-width:991px) {
    section.banner .left_content,
    section.the_best_tequila .col-lg-6>div,
    section.why_you_should_but .left_content{
        max-width: 100% !important;
        padding: 0 !important;
    }
    section.the_best_tequila .col-lg-6>div img{
        max-width: 100%;
        margin: 0 auto 30px auto;
        background-color: white;
        border-radius: 15px;
    }
    section.the_best_tequila .content{
        position: relative;
        top: 00px;
    }
    section.banner .row:first-child{
        margin-bottom: 50px;
    }
}

@media (max-width:575px) {
        section.banner .bg{
        padding: 50px 30px;
        margin-bottom: 50px;
    }
}