<footer class="">
    <div class="container-fluid">
        <div class="wrapper">
            <div class="row">
                <div class="about_us">
                    <div class="about_us_content">
                        <h5>About Us</h5>
                        <p>One of the leading retailers for alcoholic beverages, that works with numerous local & international brands to provide accessibility to the customer from the comfort of their own homes</p>
                    </div>
                    <div class="follow">
                        <div class="follow_us_content">
                            <h5>Follow Us</h5>
                            <div class="socmed">
                            <a href="mailto:flased.ph@gmail.com">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                    <path d="M19.9376 18.6816C19.9376 19.7006 19.1108 20.5274 18.0918 20.5274H2.0957C1.07672 20.5274 0.25 19.7006 0.25 18.6816V8.55728C0.25 7.99204 0.51148 7.45372 0.95752 7.1038C1.91498 6.35398 2.7071 5.7426 7.27136 2.4319C7.91736 1.96278 9.20166 0.828458 10.0938 0.839998C10.9858 0.824618 12.2701 1.96278 12.9161 2.4319C17.4804 5.7426 18.2726 6.35398 19.23 7.1038C19.676 7.45372 19.9376 7.9882 19.9376 8.55728V18.6816ZM18.2112 10.322C18.1112 10.1797 17.9151 10.1451 17.7767 10.249C16.9 10.8988 14.8426 12.6139 12.9161 14.0136C12.2701 14.4866 10.9858 15.6209 10.0938 15.6055C9.20166 15.617 7.91736 14.4866 7.27136 14.0136C5.3449 12.6139 3.29136 10.8988 2.41082 10.249C2.27238 10.1451 2.07244 10.1797 1.9763 10.322L1.6264 10.8296C1.5341 10.968 1.56486 11.1526 1.6956 11.2526C2.57616 11.9024 4.6297 13.6175 6.54462 15.0095C7.3252 15.5786 8.71716 16.8475 10.0938 16.8398C11.4665 16.8475 12.8623 15.5786 13.6429 15.0095C15.5616 13.6175 17.6113 11.9024 18.4918 11.2526C18.6264 11.1526 18.6572 10.968 18.5612 10.8296L18.2112 10.322Z" fill="white"/>
                                  </svg>
                            </a>
                            <a href="http://www.facebook.com/Flasked.ph" target="_blank" rel="noopener noreferrer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                    <path d="M16.2788 13.9512L16.8494 10.2973H13.2846V7.92712C13.2846 6.9261 13.7822 5.95202 15.3797 5.95202H17V2.83672C17 2.83672 15.5303 2.58984 14.1199 2.58984C11.1851 2.58984 9.26348 4.3405 9.26348 7.50966V10.2973H6V13.9512H9.26348V22.7898H13.2801V13.9512H16.2788Z" fill="white"/>
                                  </svg>
                            </a>
                            <a href="http://www.instagram.com/flasked_ph" target="_blank" rel="noopener noreferrer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                                    <path d="M12 2.58984C9.2788 2.58984 8.94086 2.60318 7.87816 2.64764C6.81102 2.701 6.08626 2.86552 5.45042 3.11452C4.79236 3.37242 4.2321 3.71478 3.68074 4.27058C3.12494 4.82194 2.77812 5.3822 2.52468 6.04026C2.27568 6.6761 2.11116 7.40086 2.0578 8.468C2.0089 9.53514 2 9.87308 2 12.5898C2 15.3066 2.01334 15.649 2.0578 16.7117C2.11116 17.7788 2.27568 18.5036 2.52468 19.1394C2.78258 19.7975 3.12494 20.3577 3.68074 20.909C4.2321 21.4648 4.79236 21.8116 5.45042 22.0652C6.08626 22.3096 6.81548 22.4786 7.87816 22.532C8.9453 22.581 9.28324 22.5898 12 22.5898C14.7168 22.5898 15.0591 22.5764 16.1218 22.532C17.189 22.4786 17.9137 22.3096 18.5496 22.0652C19.2076 21.8072 19.7679 21.4648 20.3192 20.909C20.875 20.3577 21.2218 19.7975 21.4754 19.1394C21.7198 18.5036 21.8888 17.7744 21.9422 16.7117C21.9912 15.6445 22 15.3066 22 12.5898C22 9.87308 21.9866 9.5307 21.9422 8.468C21.8888 7.40086 21.7198 6.67166 21.4754 6.04026C21.2174 5.3822 20.875 4.82194 20.3192 4.27058C19.7679 3.71478 19.2076 3.36796 18.5496 3.11452C17.9137 2.86552 17.1845 2.701 16.1218 2.64764C15.0591 2.59874 14.7212 2.58984 12 2.58984ZM12 4.39064C14.6723 4.39064 14.988 4.40398 16.0462 4.44844C17.02 4.4929 17.5491 4.65742 17.9004 4.79526C18.3717 4.97756 18.6963 5.191 19.052 5.54226C19.3988 5.88908 19.6167 6.22256 19.799 6.69388C19.9369 7.04516 20.1014 7.57428 20.1458 8.54804C20.1904 9.60184 20.2036 9.92198 20.2036 12.5943C20.2036 15.2666 20.1904 15.5823 20.1414 16.6405C20.088 17.6143 19.928 18.1434 19.7901 18.4947C19.5989 18.966 19.39 19.2906 19.0387 19.6463C18.6874 19.9931 18.3495 20.211 17.8871 20.3933C17.5402 20.5311 17.0022 20.6956 16.024 20.74C14.9613 20.7846 14.6501 20.7978 11.9733 20.7978C9.29658 20.7978 8.98532 20.7846 7.92264 20.7356C6.94886 20.6822 6.41084 20.5223 6.05958 20.3844C5.58382 20.1932 5.25922 19.9842 4.90796 19.633C4.5567 19.2817 4.32992 18.9438 4.16096 18.4813C4.01868 18.1345 3.8586 17.5965 3.8097 16.6183C3.77412 15.5689 3.75634 15.2444 3.75634 12.5809C3.75634 9.91754 3.77412 9.59296 3.8097 8.53026C3.86306 7.55204 4.02312 7.01848 4.16096 6.6672C4.33438 6.19144 4.5567 5.86686 4.90796 5.51558C5.25478 5.16876 5.58382 4.942 6.05958 4.76414C6.41084 4.6263 6.93552 4.46622 7.91374 4.41732C8.97644 4.3773 9.28768 4.36396 11.96 4.36396L12 4.39064ZM12 7.45868C9.15874 7.45868 6.86438 9.75748 6.86438 12.5943C6.86438 15.4355 9.16318 17.7299 12 17.7299C14.8413 17.7299 17.1356 15.4311 17.1356 12.5943C17.1356 9.75748 14.8368 7.45868 12 7.45868ZM12 15.9291C10.1547 15.9291 8.66518 14.4396 8.66518 12.5943C8.66518 10.749 10.1547 9.25948 12 9.25948C13.8453 9.25948 15.3348 10.749 15.3348 12.5943C15.3348 14.4396 13.8453 15.9291 12 15.9291ZM18.5451 7.25414C18.5451 7.9211 18.0027 8.45466 17.3446 8.45466C16.6776 8.45466 16.1441 7.91666 16.1441 7.25414C16.1441 6.59162 16.6865 6.0536 17.3446 6.0536C18.0027 6.0536 18.5451 6.59162 18.5451 7.25414Z" fill="white"/>
                                  </svg>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collection">
                  <div class="collection_content">
                      <h5>Collections</h5>
                        <a href="/collections/whisky-sale-philippines" target="_blank" rel="noopener noreferrer">Whisky</a>
                        <a href="/collections/all-wine" target="_blank" rel="noopener noreferrer">Wine</a>
                        <a href="/collections" target="_blank" rel="noopener noreferrer">Spirits</a>
                        <a href="/collections/liqueur" target="_blank" rel="noopener noreferrer">Liqueur</a>
                        <a href="/collections/all-beer-cocktails" target="_blank" rel="noopener noreferrer">Beers &amp; Cocktails</a>
                        <a href="/collections/all-non-alcoholic" target="_blank" rel="noopener noreferrer">Non-Alcoholic</a>
                  </div>
                </div>
                <div class="quick_links">
                    <div class="quick_links_content">
                        <h5>Quick Links</h5>
                        <a href="http://" target="_blank" rel="noopener noreferrer">About Us</a>
                        <a href="http://" target="_blank" rel="noopener noreferrer">Contact Us</a>
                        <a href="http://" target="_blank" rel="noopener noreferrer">Bundle Deals</a>
                        <a href="http://" target="_blank" rel="noopener noreferrer">Voucher Ready</a>
                        <a href="http://" target="_blank" rel="noopener noreferrer">Gifting Studio</a>
                        <a href="http://" target="_blank" rel="noopener noreferrer">Custom Engraving</a>
                        <a href="http://" target="_blank" rel="noopener noreferrer">Blogs</a>
                        <a href="http://" target="_blank" rel="noopener noreferrer">FAQs</a>
                        <a href="http://" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
                        <a href="http://" target="_blank" rel="noopener noreferrer">Terms of Service</a>
                        <a href="http://" target="_blank" rel="noopener noreferrer">Refunds Policy</a>
                        <a href="http://" target="_blank" rel="noopener noreferrer">Delivery Policy</a>
                    </div>
                </div>
                <div class="subscribe">
                    <div class="subscribe_content">
                        <h5>Subscribe to get the latest deals and more.</h5>
                        <form method="post" action="/contact#newsletter-footer-block" id="newsletter-footer-block" accept-charset="UTF-8" class="">
                                   {% if form.posted_successfully? %} <script> window.location = "/pages/thank-you"; </script> 
         {% endif %} 
                            <input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓"><fieldset>
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <div class="form-row" style="position:relative">
                              <input type="email" class="newsletter__input" value="" placeholder="Enter your email" name="contact[email]" id="Email-newsletter-footer-block" aria-label="Enter your email" autocorrect="off" autocapitalize="off" required=""> 
                                <button type="submit" id="Subscribe-newsletter-footer-block" aria-label="Submit">
                                    Subscribe
                                </button>
                            </div>
                          </fieldset>
                        </form>
                    </div>
                    <div class="available">
                        <div class="available_content">
                            <h5>Also Available in</h5>
                            <div class="d-flex">
                                <a href="https://www.lazada.com.ph/shop/flasked-ph/?path=index.htm" target="_blank" rel="noopener noreferrer">
                                    <img src="https://cdn.shopify.com/s/files/1/0559/8553/7202/files/lazada.png?v=1702612913" alt="" width="" height=""></a>
                                <a href="https://shopee.ph/flasked" target="_blank" rel="noopener noreferrer">
                                    <img src="https://cdn.shopify.com/s/files/1/0559/8553/7202/files/shopee.png?v=1702612913" alt="" width="" height="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2023 <a href="http://" target="_blank" rel="noopener noreferrer">Flasked Liquor Store</a>. SEO by <a href="http://" target="_blank" rel="noopener noreferrer">SEO Hacker</a>. Optimized and Maintained by <a href="http://" target="_blank" rel="noopener noreferrer">Sean Si</a>.</p>
        </div>
        <div class="scroll_top">
          <img src="https://cdn.shopify.com/s/files/1/0559/8553/7202/files/scroll_top.png?v=1704351165" alt="" width="" height="">
        </div>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="{{ 'bootstrap.bundle.min.js' | asset_url }}"></script>
  <script src="{{ 'owl.carousel.min.js' | asset_url }}"></script>
  <script src="{{ 'script-manager.js' | asset_url }}"></script>
  {% schema %}
    {
      "name": "Footer New",
      "settings": [],
      "presets": [
        {
          "name" : "FooterNew"
        }
      ]
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}
  